{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Terminal</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/stylesheet.css' %}">

    
</head>
<body>
    {% if user.is_authenticated %}
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endif %}
    <div id="header">
   
  <h1>Live Linux Terminal</h1>
  <img id="logo" src="{% static 'core/logo.jpg' %}" alt="Logo">

</div>


    <div>
        <input type="text" id="command" placeholder="Enter Linux command">
        <button onclick="sendCommand()">Run</button>
        <button onclick="stopCommand()">Stop</button>
    </div>

    <div id="terminal"></div>

    <script src="{% static 'core/script.js' %}"></script>


</body>
</html>
