{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Terminal</title>
    <link rel="stylesheet" href="{% static 'app/stylesheet.css' %}">
</head>
<body>
    <h1>Live Linux Terminal</h1>

    <div>
        <input type="text" id="command" placeholder="Enter Linux command">
        <button onclick="sendCommand()">Run</button>
        <button onclick="stopCommand()">Stop</button>
    </div>

    <div id="terminal"></div>

    <script src="{% static 'app/script.js' %}"></script>

</body>
</html>
